/*  *, *:before, *:after {
    box-sizing: border-box !important;
} */
 .row-mansory {
    -moz-column-width: 25em;
    -webkit-column-width: 25em;
    -moz-column-gap: 1em;
    -webkit-column-gap:1em;
}
.row-mansory > .col-md-4 {
    display: inline-block;
    padding: .33rem;
    width: 100%;
    float:none;
}
.well-media {
    position:relative;
    display: block;
    background: #fff;
    border-radius: 4px;
    margin: 12px 0px;

    border: 1px solid #ededed;
}
/**
 * VIDEO
 */
 video {
    max-width: 100%;
    height: auto;
}
iframe, embed, object {
    max-width: 100%;
}
.vendor {
    margin-bottom: 0.2em;
}
.unsupported {
    background: #fddfde;
}
.video-text {
    padding: 0.7em 20px;
}
.video-text > h2 {
    font-size: 1.6em;
    font-weight: 300;
}
.video-text  h4 {
    color: #14A2B5;
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.5em;
    Word-spacing:2px;
}
.video-text p {
    margin: 5px;
}
.tag-nest {
    border-bottom: 1px dashed #EDEDED;
    border-top: 1px dashed #EDEDED;
    margin: 0px 0;
    padding: 10px 20px;
}
.tag-nest i {
    font-style: normal;
    margin-right: 10px;
}
.tag-nest i:before {
    content:"/"!important;
    padding-right: 8px;
}
.video-category-bg {
    background: none repeat scroll 0 0 #FF6B6B;
    height: 80px;
    position: relative;
    width: 100%;
}
.photo-category-bg {
    background: none repeat scroll 0 0 rgb(49, 206, 184);;
    height: 50px;
    position: relative;
    width: 100%;

}
.audio-category-bg {
    background: none repeat scroll 0 0 rgb(49, 206, 184);;
    height: 80px;
    position: relative;
    width: 100%;
}
.album-category-bg {
    background: none repeat scroll 0 0 #FAAB01;
    height: 80px;
    position: relative;
    width: 100%;
}
.triangle-photo-right {
    border-style: solid;
    border-width: 0 0 80px 80px;
    height: 0;
    position: absolute;
    right: 0;
    top: -30px;
    width: 0;
    z-index: 0;
    border-color: transparent transparent rgb(99, 228, 209)  transparent;
}
.triangle-audio-right {
    border-style: solid;
    border-width: 0 0 120px 150px;
    height: 0;
    position: absolute;
    right: 0;
    top: -40px;
    width: 0;
    z-index: 0;
    border-color: transparent transparent #10D4DD transparent;
}
.triangle-album-right {
    border-style: solid;
    border-width: 0 0 120px 150px;
    height: 0;
    position: absolute;
    right: 0;
    top: -40px;
    width: 0;
    z-index: 0;
    border-color: transparent transparent #F3CB41 transparent;
}
.link-media.pull-right {
    color: #FFFFFF;
    font-size: 3em;
    margin: 10px 25px 0;
    position: relative;
    z-index: 1;
}
.video-category-bg > h3, .photo-category-bg > h3, .audio-category-bg > h3, .album-category-bg > h3 {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 600;
    left: 18px;
    position: absolute;
    text-transform: uppercase;
    top: 16px;
    width: auto;
    margin-top: 0px;
     margin-bottom: 0px;
}
.triangle-video-right {
    border-style: solid;
    border-width: 0 0 120px 150px;
    height: 0;
    position: absolute;
    right: 0;
    top: -40px;
    width: 0;
    z-index: 0;
    border-color: transparent transparent #F24B4B transparent;
}
.triangle-white {
    border-style: solid;
    border-width: 12px 21px 0;
    height: 0;
    left: 28px;
    position: absolute;
    top: -5px;
    width: 0;
    border-color: #fff transparent transparent transparent;
}
.img-responsive-media {
    display: block;
    min-height: 100%;
    max-height: 150%;

    min-width: 100%;
    max-width: 250%;
}
/**
 * BLOG
 */
 .blog-list-nest {
    background: #fff;
    border: 1px solid #eee;
    margin-bottom: 30px;
}
.blog-list-content {
    padding:20px;
}
.blog-list-content > h2 {
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 20px;
}
.list-inline a {
    color: #0DB8DF;
}
.list-inline a:hover {
    color: #60B8D1;
}
.blog-list-content > p {
    margin-bottom: 20px;
    line-height: 1.6em;
}
.vendor blockquote {
    border-left: 5px solid #0DB8DF;
    font-size: 17.5px;
    margin: 30px 0;
    padding: 10px 20px;
}
.blog-side-nest {
    background: #fff;
    border: 1px solid #eee;
    margin-bottom: 30px;
    padding: 0 20px;
}
.list-inline > li {
    display: inline-block!important;
    padding-right: 5px!important;
    padding-left: 0!important;
    padding-top: 8px!important;
}
.comment-nest {
    background: #fff;
    border: 1px solid #ededed;
    padding: 20px;
}
.media-body p {
    margin: 10px 0 0 20px;
    line-height: 1.6em;
}
.link-comment {
    color: #0DB8DF!important;
}
.link-comment i {
    font-style: normal!important;
}
.comment-nest h1 {
    font-weight: 300;
    font-size: 18px;
    margin: 0 0 20px;
    text-transform: uppercase;
}
.blog-profile {
    margin: 0 auto;
    padding: 20px 0;
}
.social-blog-profile {
    margin: -20px auto 5px;
    text-align: center;
    font-size: 2em;
}
.recentpost-link{
    margin:-20px 0 10px;
    color: #0DB8DF!important;
}